.container {
  background-color: yellow;
  padding: 70px 10px;
}
.row {
  border-radius: 10px;
}
.sign-up {
  font-size: 2rem;
  color: rgb(14, 90, 151);
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 20px;
}

.text-box {
  height: 40px;
  width: 317px;
  outline: none;
  border: 1px solid gray;
  border-radius: 4px;
}
.login-msg {
  color: rgb(150, 142, 142);
  font-size: 1.07rem;
  line-height: 21px;
  margin: 15px 15px;
  margin-bottom: 50px;
}
.mobile-number {
  height: 40px;
  width: 317px;
  outline: none;
  border: 1px solid gray;
  border-radius: 4px;
}

.btn-cont {
  background-color: rgb(198, 219, 7);
  color: white;
  font-weight: bold;
  padding: 10px 130px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-center {
  margin-top: 50px;
  color: gray;
  font-weight: 300;
}
.back-bar {
  background-color: azure;
  padding: 40px 35px;
  border-radius: 5px;
  border: 2px solid olive;
}
.err-msg {
  color: red;
  margin: 10px 5px;
  font-weight: 500;
  animation: shake 1s 1 linear;
}
@keyframes shake {
  0% {
    transform: translateX(-8px);
  }
  20% {
    transform: translate(8px);
  }
  40% {
    transform: translate(-8px);
  }
  60% {
    transform: translate(8px);
  }
  80% {
    transform: translate(-8px);
  }
  100% {
    transform: translate(0px);
  }
}
